html, body {
    height: 100%;
    margin-bottom: 100px;
}

 /* Style the header */
.header {
  padding: 10px 16px;
  background: #fff;
  color: #000;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
} 

div.gallery {
  /* margin-left: 100px;
  margin-right: 100px; */
  max-width: 100%;
  max-height: 100%;
}

div.gallery img {
  width: 100%;
  height: auto;
}

img {
  pointer-events: none;
}

a.button {
    display: inline-block;
    padding: 0.2em 1.45em;
    margin: 0.1em;
    border: 0.15em solid #CCCCCC;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    background-color: #CCCCCC;
    text-align: center;
    position: relative;
}

a.button:hover {
    border-color: black;
}
a.button:active {
    background-color:blue;
}

@media all and (max-width:30em) {
   a.button {
    display: block;
    margin: 0.2em auto;
   }
} 

.float-container {
    margin-top: 100px;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
}  
